body {
    display: flex;
    height: 100vh;
    margin: 0;
}

#content {
    flex: 1;
    border-right: 1px solid #ccc;
}

#log p{
    border-bottom: 1px solid #eee;
}

#preview {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}